# Default for all
* text=auto eol=lf

# Documentation
*.md text diff=markdown eol=crlf
*.toml text diff=toml
*.txt text diff=txt

# Scripts
*.sh text diff=sh
*.ps1 text diff=ps1

# file formats
*.json text diff=json
*.yml text diff=yml
*.xml text diff=xml

# Python
*.py text diff=python
*.ipynb text diff=ipynb

# Git attributes
.gitignore text diff=gitignore export-ignore
.gitattributes text diff=gitattributes export-ignore
.gitmodules text diff=gitmodules export-ignore

# Workflows
tests/ export-ignore
/.github export-ignore
pyproject.toml export-ignore